/* :root {
  --primarycolor: #2980b9; 
} */
.myStickyHeader{
       transition: background-color 0.3s ease;
  background: white;

}
.navbar {
 box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    overflow: hidden;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    
}
.companyLogo img{
    width: 80px;
    height: 80px;
    padding: 12px;
}

.sticky {
  top: 0;
  left: -1px;
  right: 0px;
  width: 100%;
  z-index: 2;
  background: white;
}

.myStickyHeader { z-index: 3 !important;}




.logo {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

li {
     display: block;color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.navbar li:hover {
    background-color: #ddd;
    color: black;
}

.hamburger-icon {
    display: none; 
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: #8c7ae6;;
    margin: 6px 0;
}

@media (max-width: 600px)  {
   .hamburger-icon {
    display: block; 
    cursor: pointer;
}
}
@media only screen and (max-width:600px) {
    ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        background: white;
        z-index: 1;
        
    }

    ul.menu-open {
        display: flex;
    }

    .hamburger-icon {
        display: block; 
    }
}