.contact-us{
scroll-margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
    padding: 30px;
}
.form-container {
    margin: 20px 50px;
    padding: 30px;
    width: 1000px;

}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-col {
    flex: 1;
    margin-right: 10px;
}

.form-col.full-width {
    flex-basis: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #706fd3;
}

.form-submit {
    text-align: right;
}

input[type="submit"] {
      padding: 5px 10px;
    background-color: #474787;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #00529b;
}


input[type="text"]:focus,
textarea:focus {
    border: 2px solid #9f9eed;
 
}














/* ------------------------ */

.mainForm_outer{
    width:100%;
    position: relative;
    padding: 70px 20px; background-color: #fff;
}
.mainForm{
    width:100%;
    max-width: 470px;
    margin: auto;
    padding: 35px 25px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #cccccc5e; background-color: #fff;
}
.mainForm_outer h2{
text-align: center;
padding-bottom: 20px;
}
.mainForm ul li{
width:100%;
padding: 10px 0px;
}
.mainForm_col{
    width:100%;
    position: relative;
}
.mainForm_col label{
display: block;
padding-bottom: 10px;
font-size: 14px;

}
.mainForm_field{
    width:100%;
    position: relative;
}
.mainForm_field input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f8f8f88c;
    font-size: 14px;border: 1px solid #cccccc85;
    color:black;
    
}
.mainForm_field textarea{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f8f8f88c;
    font-size: 14px;
    color:black; border: 1px solid #cccccc85;
    min-height: 80px;
    resize:none;
}
.mainFormSubmit{
    width: 100%;
}
.mainFormSubmit input {  font-size: 12px; border-radius: 6px; padding: 12px 25px; 
    text-align: center;max-width: 175px; margin: auto; display: block;  
    color: #fff; margin-top: 0px;
    background-color: #143058;}
    .mainForm_outer { scroll-margin-top: 115px;}