/* bannerImage.css */
.bannerImage-container{
    height: 100%;
    width: 100%;

}
.bannerImage { padding-top: 105px;}
.bannerImage img{
    width: 100%; 
    height: auto;
    max-height: 500px; 
    object-fit: cover; 
    margin-top: 0; 
}

.slds-card__body {
    margin-bottom: 0px;
}





.slds-card__header { padding: 0px !important;}