:host{
    --primary: rgb(169, 147, 255);
}

.event-highlight{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.event-highlight .when-where{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; max-width: 800px ; margin: auto; margin-bottom: 20px;
}
.event-highlight .when-where .box{
    padding: 15px ;
    height: 100px;
    margin: 15px ;
    background: #d0b7f7;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    flex: 1;
    /* color: white; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.event-title{
    font-size: 70px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    letter-spacing: 1px;
}
.event-dateLoaction{
    margin-left:20px ;
}
.inner-box{
    display: flex;
    justify-content: space-evenly;
}



.highlighsSection { width: 100%; position: relative;}

.highlighsSection_inner { width: 100%; max-width: 1240px; margin: auto; padding: 0px 20px;}

.highlighsSection_detail { width: 100%; padding: 60px 0px 10px;}


.highlighsSection_detail .event-title { text-align: center; padding-bottom: 15px;}

.event-description {max-width: 1050px; margin: auto;padding-bottom: 25px;text-align: justify; line-height: 1.5;}
 

.RSVP-button { display: flex; justify-content: center;}

.cAttendeesBlankLayout .primary-button {  font-size: 12px; border-radius: 6px; padding: 12px 25px; 
    text-align: center;max-width: 175px; margin: auto; display: block;  
    color: #fff; margin-top: 30px;
    background-color: #143058 !important;}


    .warning-message {
    position: relative;
    background-color: #f8d7da; /* Bootstrap's red background color for warnings */
    border: 1px solid #f5c6cb; /* Bootstrap's red border color for warnings */
    color: #721c24; /* Bootstrap's dark red text color for warnings */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    animation: fadeInUp 2s ease-out; /* Fade-in animation */
}

/* Keyframes for fade-in animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width:767px) and (min-width:200px)  {
.event-highlight .when-where .box{ height: auto;margin: 15px 0px;}
.when-where { display: block !important;}



@media only screen and (max-width:767px){
    .event-title{
        font-size: 40px;
    }
}






}